@import url('http://fonts.cdnfonts.com/css/chirp-2');

*{
    font-family:'Chirp', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-size: 100%;
}

body {
margin: 0;
display: flex;
justify-content: center;
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: rgb(29, 155, 240);
}

a:hover{
    text-decoration:underline;
}

.container {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

.icons {
    width: 17px;
    height: 17px;
}

.icons1 {
    width: 23px;
    height: 23px;
    margin: 4px;
    align-items;
}

.divCapa {
    width: 800px;
    height: 300px;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/capaGoogle.jpeg);
}

.googleIcon {
    position: relative;
    width: 25%;
    height: 10%;
    border-radius: 50%;
    border: 4px solid #fff ;
    margin-top: 24%;
    margin-left: 20px;
}

.buttonsTop {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.buttonsTop2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31%;
    margin-right: 20px;
}

.buttonReti {
    font-weight: bolder;
    font-size: 22px;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 2.5em;
    border: 1px solid rgba(128, 128, 128, 0.475);
    display: flex;
    justify-content: center;
    background-color: white;
}

.buttonFollow {
    font-weight: 600;
    width: 100px;
    height: 45px;
    border-radius: 2.5em;
    color: #fff;
    border: 2px solid white;
    background-color: black;
}

.buttonReti:hover {
    background: #F7F9F9;
}

.buttonFollow:hover {
    background: rgba(0, 0, 0, 0.861);
}

.name {
    position: relative;
    width: 43%;
    margin-top: 110px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}

.arroba {
    font-size: 20px;
    color: rgb(83, 100, 113);
    font-weight: normal;
    margin-bottom: 20px;
}

.hashtag{
    font-size: 20px;
    color: rgb(29, 155, 240);
    margin-bottom: 15px;
}

.nameVerifier {
    font-size: 26px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}



